
span.done-true {
            color: saddlebrown;
            text-decoration: line-through;
            font-style: italic;
        }
        span[contentEditable="true"]{
            background: lightcoral;
            padding: 3px;
        }
        h1{
           font-family: 'Pacifico', cursive;
           font-size: 4em;
           padding:20px;
           text-align: center;
           background:sienna;
            
        }
        div.text1{
            font-family: Sansita;
            font-size:2em;
            
        }
        body{
            background-color: silver;
        }